[submodule "edx-mit-6001x"]
	path = edx-mit-6001x
	url = git@github.com:e1630m/edx-mit-6001x
[submodule "edx-harvard-cs50g"]
	path = edx-harvard-cs50g
	url = git@github.com:e1630m/edx-harvard-cs50g
[submodule "edx-harvard-cs50w"]
	path = edx-harvard-cs50w
	url = git@github.com:e1630m/edx-harvard-cs50w
[submodule "edx-harvard-cs50x"]
	path = edx-harvard-cs50x
	url = git@github.com:e1630m/edx-harvard-cs50x
[submodule "edx-w3c-css0x"]
	path = edx-w3c-css0x
	url = git@github.com:e1630m/edx-w3c-css0x
[submodule "edx-harvard-cs50m"]
	path = edx-harvard-cs50m
	url = git@github.com:e1630m/edx-harvard-cs50m
[submodule "edx-harvard-cs50t"]
	path = edx-harvard-cs50t
	url = git@github.com:e1630m/edx-harvard-cs50t
[submodule "edx-harvard-cs50ai"]
	path = edx-harvard-cs50ai
	url = git@github.com:e1630m/edx-harvard-cs50ai
[submodule "edx-mit-6002x"]
	path = edx-mit-6002x
	url = git@github.com:e1630m/edx-mit-6002x
[submodule "edx-michigan-dj4e104x"]
	path = edx-michigan-dj4e104x
	url = git@github.com:e1630m/edx-michigan-dj4e104x
[submodule "edx-michigan-dj4e103x"]
	path = edx-michigan-dj4e103x
	url = git@github.com:e1630m/edx-michigan-dj4e103x
[submodule "edx-michigan-dj4e102x"]
	path = edx-michigan-dj4e102x
	url = git@github.com:e1630m/edx-michigan-dj4e102x
[submodule "edx-michigan-dj4e101x"]
	path = edx-michigan-dj4e101x
	url = git@github.com:e1630m/edx-michigan-dj4e101x
[submodule "edx-w3c-js0x"]
	path = edx-w3c-js0x
	url = git@github.com:e1630m/edx-w3c-js0x
[submodule "edx-w3c-html52x"]
	path = edx-w3c-html52x
	url = git@github.com:e1630m/edx-w3c-html52x
[submodule "edx-w3c-html51x"]
	path = edx-w3c-html51x
	url = git@github.com:e1630m/edx-w3c-html51x
[submodule "edx-w3c-html50x"]
	path = edx-w3c-html50x
	url = git@github.com:e1630m/edx-w3c-html50x
[submodule "coursera-stanford-machine-learning"]
	path = coursera-stanford-machine-learning
	url = git@github.com:e1630m/coursera-stanford-machine-learning
[submodule "coursera-duke-oopijs"]
	path = coursera-duke-oopijs
	url = git@github.com:e1630m/coursera-duke-oopijs
[submodule "coursera-duke-jpasefs"]
	path = coursera-duke-jpasefs
	url = git@github.com:e1630m/coursera-duke-jpasefs
