[submodule "edx-mit-6001x"]
	path = edx-mit-6001x
	url = git@github.com:e1630m/edx-mit-6001x
[submodule "edx-harvard-cs50g"]
	path = edx-harvard-cs50g
	url = git@github.com:e1630m/edx-harvard-cs50g
[submodule "edx-harvard-cs50w"]
	path = edx-harvard-cs50w
	url = git@github.com:e1630m/edx-harvard-cs50w
[submodule "edx-harvard-cs50x"]
	path = edx-harvard-cs50x
	url = git@github.com:e1630m/edx-harvard-cs50x
[submodule "edx-w3c-css0x"]
	path = edx-w3c-css0x
	url = git@github.com:e1630m/edx-w3c-css0x
